 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'League Spartan', sans-serif;
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-weight: 700;
 }

 .header {
  position: relative;
  height: 150px;
  background-color:  hsl(180, 29%, 50%);
  background-image: url('/public/images/bg-header-desktop.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /* border: solid 3px orange; */
 }

 .main-container, .category-container {
  width: 85%;
 }

 .main-container {
  margin: 50px auto;
 }

 .category-container {
  position: absolute;
  top: 20%;
  left: 7.5%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px hsl(180, 29%, 85%);
  /* border: solid 1px yellow; */
 }

 .sub-detail-1 {
  width: 40%;
  /* border: solid 1px green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }

 .sub-detail-2 {
  width: 50%;
  /* border: solid 1px salmon; */
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .role, .level, .languages, .tools {
  padding: 5px;
  color: hsl(180, 29%, 50%);
  background-color:  hsl(180, 52%, 96%);
  padding: 8px;
  border-radius: 3px;
  font-weight: 900;
  cursor: pointer;
 }

 .role:hover, .level:hover, .languages:hover, .tools:hover {
  color: #fff;
  background-color: hsl(180, 29%, 50%);
 }

 .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  /* border: solid 1px yellow; */
  border-radius: 5px;
  margin: 15px auto;
  box-shadow: 0 5px hsl(180, 29%, 85%);
 }

 .sub-span-1 {
  margin-bottom: 12px;
 }

 .main-details {
  height: 70px;
  width: max-content;
  /* border: solid 1px red; */
 }

 .logo {
  height: 70px;
  /* border: solid 1px red; */
  margin-right: 10px;
 }

 .company, .isNew, .featured, .postedAt, .contract, .location {
  margin-right: 8px;
  font-weight: 900;
 }

 .isNew, .featured {
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  font-size: 0.7rem;
 }

 .company {
  color: hsl(180, 29%, 50%);
  font-size: 0.85rem;
 }

 .featured {
  background-color: hsl(180, 14%, 20%);
 }

 .featured-side-border {
  border-left: solid 2px hsl(180, 29%, 50%);
 }

 .isNew {
  background-color: hsl(180, 29%, 50%);
 }

 .position {
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 900;
  color: hsl(180, 14%, 20%);
 }

 .position:hover {
  color: hsl(180, 29%, 50%);
 }

  .logo-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
 }

 .postedAt, .contract, .location {
  color: hsl(180, 8%, 52%);
 }

 .category {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
 }

 .category p, .close-btn {
  height: 15px;
  padding: 4px;
 }

 .category p {
  display: inline-block;
  color: hsl(180, 29%, 50%);
  background-color:  hsl(180, 52%, 96%);
  font-weight: 900;
 }

 .close-btn {
  color: #fff;
  background-color:  hsl(180, 29%, 50%);
  margin-bottom: 0px;
 }

 .close-btn:hover {
  background-color: hsl(180, 14%, 20%);
 }

 .clear-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  cursor: pointer;
 }

 .clear-btn:hover {
  color: hsl(180, 29%, 50%);
 }

 .footer {
  width: 80%;
  text-align: center;
  margin: 50px auto;
 }

 
 /* Media query for mobile display */
 @media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    width: 90%;
  }

  .category-container {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 90%;
  }

  .header {
    background-image: url('/public/images/bg-header-mobile.svg');
  }

  .sub-detail-2, .sub-detail-1 {
    width: 100%;
  }

  .sub-detail-1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sub-detail-2 {
    width: 80%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main-details {
    width: 80%;
    margin: 45px 0px 10px 0px;
  }

  .profile {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: max-content;
    margin: 30px auto;
  }

  .logo {
    position: absolute;
    top: -10%;
  }

  .company {
    margin-right: 15px;
  }

  .role, .level, .languages, .tools {
    margin: 5px 5px 5px 0px;
  }

  .footer {
    line-height: 1.2;
  }
 }